# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by istanbul
coverage

# Dependency directory
node_modules

# Build directory
lib

# Npm cache directory
.npm

.DS_Store